html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    margin: auto;
    height: 320px;
    width: 320px;
    background-color: lightblue;
    border: 1px solid pink;
    display: flex;
    flex-wrap: wrap;
}

#container div {
    height: 20px;
    width: 20px;
    background-color: white;
    /* border: 1px solid black; */
}

/* #container div:hover {
    background-color: pink;
} */